{% extends 'loginbase.html' %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
<div class="container" style="margin-top:20px; margin-bottom:20px;">


  <div class="global-container" style="max-width:400px; margin:auto; margin-top:30px; margin-bottom: 20px;">
	<div class="card login-form shadow p-3 mb-5 bg-body rounded">
	<div class="card-body">
		<h3 class="card-title text-center">Signup to CodeShelf</h3>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form method="POST" action="/signup">
				<!-- to error: add class "has-danger" -->
        {% csrf_token %}
				<div class="form-group mb-2">
					<label for="username">username</label>
					<input type="text" class="form-control form-control-sm" id="username" aria-describedby="emailHelp" name="username" Placeholder="Username" required>
				</div>
        <div class="form-group mb-2">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name='email' Placeholder="email" required>
				</div>
        <div class="form-group mb-2">
					<label for="number">Number</label>
					<input type="number" class="form-control" id="number" name='number' Placeholder="Mobile number" required>
				</div>
				<div class="form-group mb-2">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="Password" name='password' Placeholder="Password" required>
				</div>
				<button type="submit" class="btn btn-primary btn-block" style="margin:10px 10px 10px 10px;">Signup</button>
				
				<div class="sign-up">
				Already have an account? <button class="btn btn-primary btn-block" style="margin:10px 10px 10px 10px; ;"><a href="{% url 'login' %}" style="text-decoration:none; color:white">Log in</a></button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</form></div>{% endblock body %}